{#
We want to extend the default template instead of defining everything ourselves.
#}
{% extends "default/module.html.jinja2" %}

{% block nav_title %}
<script type="text/javascript">
  window.onload = function() {
      let ul = document.evaluate("//h2[text() = 'Submodules']/following-sibling::ul", document, null, XPathResult.FIRST_ORDERED_NODE_TYPE, null).singleNodeValue;
      ul.insertAdjacentHTML('afterend', '<h2 id="otherPages">Data</h2>');

      let html = `
          <ul>
              <li><a href="../fields/stocks.html">Fields</a></li>
              <li><a href="../screeners/stocks/america.html">Screeners</a></li>
          </ul>
      `;
      document.getElementById('otherPages').insertAdjacentHTML('afterend', html);
  }
</script>
{% endblock %}
