{#
We want to extend the default template instead of defining everything ourselves.
#}
{% extends "default/module.html.jinja2" %}

{% block nav_title %}
<script type="text/javascript">
window.onload = function() {
    let ul = document.evaluate("//h2[text() = 'Submodules']/following-sibling::ul", document, null, XPathResult.FIRST_ORDERED_NODE_TYPE, null).singleNodeValue;
    ul.insertAdjacentHTML('afterend', '<h2 id="fields">Fields</h2>');

    let html = `
        <ul>
            <li><a href="static/stocks_fields.html">Stocks</a></li>
            <li><a href="static/crypto_fields.html">Crypto</a></li>
            <li><a href="static/forex_fields.html">Forex</a></li>
            <li><a href="static/coin_fields.html">Coin</a></li>
            <li><a href="static/cfd_fields.html">Cfd</a></li>
            <li><a href="static/futures_fields.html">Futures</a></li>
            <li><a href="static/bonds_fields.html">Bonds</a></li>
            <li><a href="static/economics2_fields.html">Economics2</a></li>
            <li><a href="static/options_fields.html">Options</a></li>
        </ul>
    `;
    document.getElementById('fields').insertAdjacentHTML('afterend', html);
}
</script>
{% endblock %}
